# fly.toml app configuration file generated for redive-gacha on 2026-01-18T07:09:26Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'redive-gacha'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
